.product-title {
    margin-bottom: 20px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
}

.file-table th, .file-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.upload-form {
    display: block;
    margin-bottom: 20px;
}

.back-button {
    display: block;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .file-table, .file-table thead, .file-table tbody, .file-table th, .file-table td, .file-table tr {
        display: block;
    }
}