{% extends 'layout.html.twig' %}

{% block title %}
	Conseils
{% endblock %}

{% block content %}
    <div class="selectionnable">
        <div class="is-selectionnable"><a href="#ouvrir-huitres">Comment ouvrir <br> une huître ?</a></div>
        <div class="is-selectionnable"><a href="#conserver-huitres">Comment conserver <br>  des huîtres</a></div>
        <div class="is-selectionnable"><a href="#calibre-huitres">Quel calibre <br>  d'huître  choisir ?</a></div>
        <div class="is-selectionnable"><a href="#savoir-huitres-vivante">Comment savoir <br> si une huître est vivante ?</a></div>
        <div class="is-selectionnable"><a href="#bienfaits-huitres">Quels sont les bienfaits <br>  de l'huître pour la santé ?</a></div>
    </div>
    <h1 class="title-conseil">Les conseils Tafforet</h1>
    <h2>Découvrez tous nos conseils sur les huîtres</h2>
	<section class="responsive-video">
		<h3 id="ouvrir-huitres-video">Comment ouvrir une huître ?</h3>
		<iframe class="ouvrir-huitre-video" width="700" height="400" src="https://www.youtube.com/embed/V0-rkkPaZvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</section>

    <div class="line-advice"></div>

	<section>
		<h3 id="conserver-huitres">Comment conserver des huîtres ?</h3>
		<p>La conservation des huîtres est très importante pour assurer leur fraîcheur et leur saveur.
			Voici quelques étapes à suivre pour conserver les huîtres:</p>
		<ol>
			<li>Conserver les huîtres vivantes: Les huîtres doivent être conservées vivantes jusqu'à ce qu'elles soient prêtes à être consommées.
				Gardez-les dans un endroit frais, sombre et aéré, à une température de 5-10°C. Les huîtres doivent également être stockées à plat
					pour éviter qu'elles ne se dessèchent.</li>
			<li>Les nettoyer: Il est important de nettoyer les huîtres avant de les stocker. Utilisez une brosse douce pour enlever la saleté
				et les débris de leur coquille.</li>
			<li>Les stocker dans un endroit frais: Les huîtres doivent être stockées dans un endroit frais, comme le réfrigérateur ou un endroit frais
					et sombre. Évitez de les stocker dans un congélateur car cela peut endommager leur texture et leur goût.</li>
			<li>Les maintenir humides: Pour éviter que les huîtres ne se dessèchent, placez-les sur un lit de glace ou de mousse humide.
					Assurez-vous que l'eau ne recouvre pas les huîtres, car cela peut les tuer.</li>
			<li>Les consommer rapidement: Les huîtres sont meilleures lorsqu'elles sont consommées dans les 2-3 jours suivant leur achat.
					Ne stockez pas les huîtres pendant une période prolongée car cela peut affecter leur qualité.</li>
		</ol>
		<p>En suivant ces étapes simples, vous pourrez conserver vos huîtres fraîches et délicieuses jusqu'à ce que vous soyez prêt à les savourer.</p>
	</section>

    <div class="line-advice"></div>

	<section>
		<h3 id="calibre-huitres">Quel calibre d'huître choisir ?</h3>
		<p>Le choix du calibre d'huître dépend de la préférence personnelle et de l'utilisation prévue. Les huîtres sont généralement classées en plusieurs
			catégories de calibre en fonction de leur taille et de leur poids. Voici un aperçu des catégories de calibre les plus courantes:</p>
		<ul>
			<li>Les huîtres extra-fines : Ce sont les plus petites huîtres, avec un poids de moins de 20g chacune. Elles sont idéales pour être
				dégustées crues sur un plateau de fruits de mer ou en apéritif.</li>
			<li>Les huîtres fines: Ces huîtres pèsent environ 20 à 40g chacune. Elles ont un goût plus prononcé que les extra-fines et sont souvent
				utilisées pour préparer des recettes comme les huîtres gratinées.</li>
			<li>Les huîtres spéciales : Ces huîtres ont un poids moyen de 40 à 70g chacune. Elles sont plus charnues et plus savoureuses que les huîtres fines,
				ce qui les rend idéales pour être dégustées crues ou cuites.</li>
			<li>Les grosses huîtres : Ces huîtres pèsent plus de 70g chacune. Elles ont une saveur plus prononcée et sont souvent utilisées pour
				la cuisson, comme les huîtres frites ou grillées.</li>
		</ul>
		<p>En fin de compte, le choix du calibre d'huître dépendra de vos goûts personnels et de l'utilisation que vous prévoyez en faire.
			Si vous voulez les déguster crues, optez pour les extra-fines ou les spéciales. Si vous souhaitez les utiliser pour la cuisson,
			optez pour des huîtres plus grosses.</p>
	</section>

     <div class="line-advice"></div>

	<section>
		<h3 id="savoir-huitres-vivante">Comment savoir si une huître est vivante ?</h3>
		<p>Il est important de ne consommer que des huîtres vivantes car les huîtres mortes peuvent causer des problèmes de santé.
			Voici quelques astuces pour savoir si une huître est vivante:</p>
		<ol>
			<li>Observez sa coquille: Les huîtres vivantes ont une coquille fermée et hermétique. Si la coquille est ouverte, cela ne signifie
				pas nécessairement que l'huître est morte, car elle peut simplement être en train de respirer. Vous pouvez tapoter doucement
				la coquille pour voir si elle se referme, ce qui indique que l'huître est vivante.</li>
			<li>Vérifiez la texture de la chair: Les huîtres mortes ont une chair molle et flasque, tandis que les huîtres vivantes ont une chair ferme et élastique.
				Vous pouvez pincer doucement la chair pour voir si elle réagit ou si elle est molle et inerte.</li>
			<li>Vérifiez l'odeur: Les huîtres fraîches et vivantes ont une odeur de mer propre et fraîche. Si l'odeur est forte et désagréable, cela peut indiquer que
				l'huître est morte ou en train de mourir.</li>
		</ol>
		<p>En résumé, une huître vivante doit avoir une coquille fermée et hermétique, une chair ferme et élastique, et une odeur de mer fraîche.
			    Si vous avez des doutes quant à la fraîcheur d'une huître, il est préférable de ne pas la consommer.</p>
	</section>

    <div class="line-advice"></div>

	<section>
		<h3 id="bienfaits-huitres">Quels sont les bienfaits de l'huître pour la santé ?</h3>
		<p>Les huîtres sont riches en nutriments et en minéraux qui sont bénéfiques pour la santé. Voici quelques-uns des bienfaits de l'huître pour la santé :</p>
		<ol>
			<li>Riche en zinc : Les huîtres sont l'une des sources les plus riches en zinc, un minéral important pour le système immunitaire, la croissance
				    et la réparation des tissus.</li>
			<li>Faible en calories : Les huîtres sont faibles en calories et riches en protéines, ce qui en fait un excellent aliment pour ceux qui
				    cherchent à maintenir un poids santé.</li>
			<li>Riche en acides gras oméga-3 : Les huîtres sont une excellente source d'acides gras oméga-3, qui aident à réduire l'inflammation,
				    à améliorer la santé du cerveau et à prévenir les maladies cardiaques.</li>
			<li>Riche en vitamine B12 : Les huîtres sont riches en vitamine B12, qui est importante pour la production de globules rouges et
				    pour maintenir un système nerveux sain.</li>
			<li>Riche en fer : Les huîtres sont riches en fer, un minéral important pour la formation de globules rouges et pour prévenir l'anémie.</li>
			<li>Riche en vitamine D : Les huîtres sont également une bonne source de vitamine D, qui est importante pour la santé des os, des dents
				    et pour renforcer le système immunitaire.</li>
		</ol>
		<p>En conséquence, la consommation d'huîtres peut être bénéfique pour la santé en raison de leur teneur élevée en nutriments essentiels. Cependant,
			    il est important de les consommer avec modération et de prendre des précautions pour éviter les maladies alimentaires.</p>

	</section>


{% endblock %}
