{% extends 'layout.html.twig' %}

{% block content %}
	<section class="events">

		<div class="imageEvent">

			<img src="/assets/images/marche_tafforet.jpg" alt="Le couple Tafforet sur un marché">
			<img src="/assets/images/tfmap.jpg" alt="Emplacement de l'entreprise Tafforet">

		</div>

		<div class="eventDay">

			<h3>Evenements</h3>

			<ul>
				<li>- Marché de Rochefort tous les mardis.</li>
				<li>- Marché de Saujon tous les jeudis.</li>
				<li>- Dégustation et visite de l’entreprise le samedi matin sur réservation.</li>
			</ul>

			<h3>Horaires</h3>
			<ul>
				<li>- Du lundi au jeudi : 8h à 12h et 13h30 à 17h30</li>
				<li>- Le vendredi : 8h à 12h et 13h30 à 16h30</li>
			</ul>
			<h3>Juillet/Août</h3>
			<ul>
				<li>- 7 jours sur 7 : 8h30 à 12h30 et 15h à 19h</li>
			</ul>

		</div>

	</section>

{% endblock %}
