{% extends 'layout.html.twig' %}

{% block content %}

	<section class="events">

		<div class="imageEvent">

			<img src="/assets/images/marche_tafforet.jpg" alt="Le couple Tafforet sur un marché">
            <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18670.639265681843!2d-1.1257661921330706!3d45.81042343986325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4801642defa7e771%3A0x700cec5e2b250912!2sLes%20Hu%C3%AEtres%20Tafforet!5e1!3m2!1sfr!2sfr!4v1681894777434!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
		</div>

		<div class="eventDay">

			<h3>Evenements</h3>

			<ul>
				<li>Marché de Rochefort tous les mardis.</li>
				<li>Marché de Saujon tous les jeudis.</li>
				<li>Dégustation et visite de l’entreprise le samedi matin sur réservation.</li>
			</ul>

			<h3>Horaires</h3>
			<ul>
				<li>Du lundi au jeudi : 8h à 12h et 13h30 à 17h30</li>
				<li>Le vendredi : 8h à 12h et 13h30 à 16h30</li>
			</ul>
			<h3>Juillet/Août</h3>
			<ul>
				<li>7 jours sur 7 : 8h30 à 12h30 et 15h à 19h</li>
			</ul>

		</div>

	</section>
{% endblock %}
