{% extends 'layout.html.twig' %}

{% block content %}

	<h1 class="title-home">Les Huîtres Tafforet</h1>

	<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" centered-slides="true" autoplay-delay="3000" autoplay-disable-on-interaction="false">
		<swiper-slide><img src="/assets/images/image-carrousel/marennes.jpg" alt="photo_marennes"></swiper-slide>
		<swiper-slide><img src="/assets/images/image-carrousel/Huitres-marennes-oleron-tourisme.jpg" alt="huitre_marennes"></swiper-slide>
		<swiper-slide><img src="/assets/images/image-carrousel/IMG_Vueaerienne_marais.jpg" alt="photo_region"></swiper-slide>
		<swiper-slide><img src="/assets/images/image-carrousel/vue-aerienne-marennes-Grand.png" alt="photo_marennes"></swiper-slide>
		<swiper-slide><img src="/assets/images/image-carrousel/port-du-chapus.jpeg" alt="port"></swiper-slide>
	</swiper-container>

	<div id="ww_74bb7a75e5c2a" v='1.3' loc='id' a='{"t":"responsive","lang":"fr","sl_lpl":1,"ids":["wl7549"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"3"}'>Weather Data Source:
		<a href="https://meteolongue.com/" id="ww_74bb7a75e5c2a_u" target="_blank">Meteo a 25 jours</a>
	</div>
	<script async src="https://app1.weatherwidget.org/js/?id=ww_74bb7a75e5c2a"></script>

	<section class="presentation-entreprise">
		<div>
			<img class="ouvrier" src="/assets/images/ouvrier.jpg" alt="ouvrier">
		</div>
		<div class="presentation-paragraphe">
			<p>Vous recherchez des huîtres creuses de qualité supérieure en France ? Ne cherchez plus !
				<br><br>

				Notre entreprise basée dans la magnifique région de Marennes-Oléron, est spécialisée dans la production, l'élevage et l'expédition de ces délicieuses coquillages depuis plus de 70 ans.<br><br>

				Notre établissement de 2 500 m² est équipé des dernières technologies en matière de purification et de dégorgement pour garantir des produits de qualité exceptionnelle. Avec nos 40 hectares de production et de claires d'affinage, nous avons la capacité de répondre à toutes vos demandes.<br><br>

				Chez nous, la qualité prime avant tout. Nous accordons une attention particulière à la sélection de nos huîtres, afin de vous offrir une expérience gustative unique et authentique. Faites confiance à notre savoir-faire et à notre expérience pour vous faire découvrir le meilleur de la mer.</p>
		</div>
	</section>

	<div class="bouton-envie-de-commander">
		<a role="button" href="/product">Envie de commander ?<img class="icone-clic" src="/assets/images/clic.png" alt=""></a>
	</div>

	<section class="events">

		<div class="imageEvent">

			<img src="/assets/images/marche_tafforet.jpg" alt="Le couple Tafforet sur un marché">
			<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18670.639265681843!2d-1.1257661921330706!3d45.81042343986325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4801642defa7e771%3A0x700cec5e2b250912!2sLes%20Hu%C3%AEtres%20Tafforet!5e1!3m2!1sfr!2sfr!4v1681894777434!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>

		<div class="eventDay">

			<h3>Évènements</h3>

			<ul>
				<li>Marché de Rochefort tous les mardis.</li>
				<li>Marché de Saujon tous les jeudis.</li>
				<li>Dégustation et visite de l’entreprise le samedi matin sur réservation.</li>
			</ul>

			<h3>Horaires</h3>
			<ul>
				<li>Du lundi au jeudi : 8h à 12h et 13h30 à 17h30</li>
				<li>Le vendredi : 8h à 12h et 13h30 à 16h30</li>
			</ul>
			<h3>Juillet/Août</h3>
			<ul>
				<li>7 jours sur 7 : 8h30 à 12h30 et 15h à 19h</li>
			</ul>

		</div>

	</section>

	<div class="testimony-title">
		<h2>Ils nous ont fait confiance</h2>
	</div>

	<section class="testimony-grid">
		{% for testimonial in testimonials %}
			<div class="testimonies">
				<p>{{ testimonial.testimonial }}</p>
				<img src="/assets/images/five_stars.png" alt="Note de 5 étoiles">
			</div>
		{% endfor %}
	</section>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% endblock %}
