{% extends 'layout.html.twig' %}

{% block title %}404 Not found
{% endblock %}

{% block content %}
	<div class="main-404">
		<img src="/assets/images/huitrecolerev2.png" alt="huitre pas contente">
	<div class="text-404">
    <span>OUPS</span>
		<p>Il n'y a rien à voir ici !<br> Pour retourner à l'accueil <a href="/">C'EST PAR ICI!</a></p>
	</div>
     </div>
{% endblock %}
