{% extends 'layout.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block content %}

	<h1 class="title_page_product">
		Les Huîtres Tafforet
	</h1>
	<table>
		<thead>
			<tr>
				<th scope="col">Appelation Ph + couvercle</th>
				<th scope="col">Densité par m2</th>
				<th scope="col">Durée d'affinage</th>
				<th scope="col">Taux de chair</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Fine de Claires</th>
				<td>Du 1/04 au 31/10 : 1kg
					<br>
					Du 1/11 au 31/03 : 3kg</td>
				<td>Du 1/04 au 31/10 : 14 jours
					<br>
					Du 1/11 au 31/03 : 28 jours</td>
				<td>entre 7 et 10,5</td>
			</tr>
			<tr>
				<th scope="row">Spéciale de Claires</th>
				<td>Du 1/04 au 31/10 : 1kg
					<br>
					Du 1/11 au 31/03 : 3kg</td>
				<td>Du 1/04 au 31/10 : 14 jours
					<br>
					Du 1/11 au 31/03 : 28 jours</td>
				<td>
					> 10,5.
				</td>
			</tr>
			<tr>
				<th scope="row">Pousse en clair</th>
				<td>5 huîtres au m2</td>
				<td>4 mois minimum</td>
				<td>
					> 12
				</td>
			</tr>
			<tr class="line_table">
				<th scope="row">Label Rouge (verdissement)</th>
				<td>Du 1/04 au 31/10 : 1kg
					<br>
					Du 1/11 au 31/03 : 3kg</td>
				<td>Du 1/04 au 31/10 : 14 jours
					<br>
					Du 1/11 au 31/03 : 28 jours</td>
				<td>de 9 à 10,5</td>
			</tr>
		</tbody>
	</table>
	 <h2 class=titre-form>Envie de commander ?</h2>
    <form>
        <div class="form-grid">
            <div class="questions-grid">	
			<p>Veuillez remplir ce formulaire pour toute demande de devis. </p>
                <label for="nom">Nom*</label>
                <input type="text" id="nom" name="nom" required>
            
            
                <label for="prenom">Prénom*</label>
                <input type="text" id="prenom" name="prenom" required>
          
           
                <label for="adresse">Adresse*</label>
                <input type="text" id="adresse" name="adresse" required>
           
                <label for="tel">Numéro de téléphone*</label>
                <input type="number" id="tel" name="tel" required>
          
                <label for="email">Email*</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <img class="form-image" src="/assets/images/image-form.jpg" alt="le port">

            </div>
        </div>

        <fieldset class="choix-section">
            <legend>Choix des produits*</legend>
            <div class="choix">
                <label for="fines-de-claires"><input type="checkbox" id="fines-de-claires" name="fines-de-claires"
                        value="fines-de-claires">Fines de claires</label>
                <label for="speciales-de-claires"><input type="checkbox" id="speciales-de-claires"
                        name="speciales-de-claires" value="speciales-de-claires">Spéciales de claires</label>
                <label for="label-rouge"><input type="checkbox" id="label-rouge" name="label-rouge"
                        value="label-rouge">Label rouge</label>
                <label for="pousses-en-claires"><input type="checkbox" id="pousses-en-claires" name="choix"
                        value="pousses-en-claires">Pousses en claires</label>
                <label for="moules-de-bouchot"><input type="checkbox" id="moules-de-bouchot" name="choix"
                        value="moules-de-bouchot">Moules de Bouchot</label>
                <label for="moules-d-irlande"><input type="checkbox" id="moules-d-irlande" name="choix"
                        value="moules-d-irlande">Moules d'Irlande</label>
            </div>
        </fieldset>

        <label for="commentaires">Commentaires</label>
        <textarea id="commentaires" name="commentaires" rows="5"></textarea>
        <div class="livraison">
            <input type="checkbox" id="livraison" name="choix" value="livraison">
            <label for="livraison">Livraison (en supplément)</label>
        </div>

        <button class="demande-devis-button" type="submit">Demander un devis</button>
    </form>
{% endblock %}
