{% extends 'layout.html.twig' %}

{% block title %}Demande de devis envoyée
{% endblock %}

{% block content %}
	<section>
		<h2>Merci pour votre demande de devis !</h2>
		<p>Nous avons bien reçu votre demande et nous vous répondrons dans les plus brefs délais.</p>
		<p>Pour toute question ou information supplémentaire, n'hésitez pas à nous contacter.</p>
		<a href="/product">Retour au formulaire</a>
	</section>
{% endblock %}
