{% extends 'Admin/layout.html.twig' %}

{% block content %}
    <h1>Liste des évenements</h1>
    <a href="/event/add" class="add-admin">Ajouter un nouvel évenement</a>
    <table role="grid">
        <thead>
            <tr>
                <th>ID</th>
                <th>Texte</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{event.id}}</td>
                    <td>
                        {{event.text}}
                    </td>
                    <td>
                        <a href="/event/edit?id={{event.id}}">Modifier</a>
                    </td>
                    <td>
                        <a href="/event/delete?id={{event.id}}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
