.events {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: 2.5rem;
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
}

.imageEvent {
    display: flex;
    flex-direction: column;
}

.imageEvent img {
    min-height: 15rem;
    display: block;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 1rem;
}

.eventDay {
    margin-bottom: 0;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 20px 20px 1px var(--primary), -20px -20px 1px var(--primary);
}
.eventDay ul,
li,
h3,
h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eventDay li {
    font-size: 16px;
    font-family: var(--font-family);
    color: black;
}
.eventDay h3,
h5 {
    font-family: var(--font-family-secondary);
    padding: 1rem;
    font-size: 24px;
    color: black;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .events {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2400px) {
    .eventDay {
        margin-top: 2.5rem;
    }
}

@media screen and (min-width: 2400px) {
    .eventDay h3 {
        margin-top: 5rem;
    }
}
