body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
}

body>main {
    padding-top: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 920px;
    }
}