[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary : #1D334A;
    --primary-inverse : #BABA9C;
}

nav {
    min-width: 100%;
    align-items: center;
    padding: 25px;
    height: 90px;
    background-color: var(--primary);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    max-width: 100px;
  }

  .menu {
    width: 50%;
    display: flex;
    list-style: none;

    justify-content: space-around;
    align-items: center;
  }

  .menu li {
    margin-right: 20px;
    white-space: nowrap;
  }

  a {
    color: var(--primary-inverse);
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .burger {
    display: none;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: var(--primary-inverse);
    margin: 5px;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    list-style: none;
    background-color: var(--primary);
    padding: 10px 0;
  }

  .dropdown-menu li {
    display: block;
    width: 100%;
    margin-left: 1rem;
  }

  .dropdown-menu li a {
    color: var(--primary-inverse);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }


  @media screen and (max-width: 768px) {
    .menu {
        display: none;
      }

    .burger {
      display: block;
      cursor: pointer;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }

    .menu.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      gap: 0;
      top: 89px;
      left: 70%;
      width: 30%;
      background-color: var(--primary);
      padding: 0px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border: 2px solid #BABA9C
    }

    .menu.active li {
      margin-right: 0;
      margin-bottom: 10px;
    }

    .menu.active .dropdown-menu {
        display: block;
        position: static;
        background-color: transparent;
        padding: 0;
      }

      .menu.active .dropdown-menu li {
        --nav-element-spacing-vertical: .1rem;
        padding: var(--nav-element-spacing-vertical) var(--nav-element-spacing-horizontal);

      }
      .dropdown-menu li a {
        padding-left: 1rem;
      }
    }
