

@media screen and (min-width: 768px) {
.hoyster{
        grid-template-columns: 1fr 1fr;
    }
}
section.hoyster{
    display:grid;
    gap :calc(var(--spacing)*10);
    row-gap: 0rem;
}
section.hoyster>article{
    border-radius: calc(var(--border-radius)*2);
    background-color: var(--card-clear-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: var(--spacing);
}
section.hoyster>article>div>h3,
section.hoyster>article>p:last-child{
    margin-top: 1rem;
    text-align: center;
}
.hoyster_title {
    background-color: var(--card-dark-color);
    width: fit-content;
    margin-top:calc(var(--spacing)*8);
    border-radius: calc(var(--border-radius)*2);
}
.hoyster_title {
    padding: 1rem;
    color: var(--card-dark-title-color)
}

.hoyster_title  span {
    font-size: 0.65rem;
}
section.hoyster>article>div>img{
    border-radius: calc(var(--border-radius)*2);
}



.savoirfaire>div img{
    width:100%;
    margin : 0rem 0rem;
}
.savoirfaire>div{
    background-color: #1D334A;
    padding:1.5rem;
    border-radius: calc(var(--border-radius)*2);
}
.savoirfaire>div>p{

    --font-size : 0.80rem;
    color: #C9C081;
    font-size: var(--font-size);
}


.savoirfaire h2{
    background-color: #0E1C26;
    width: fit-content;
    margin:2rem auto;
    border-radius: calc(var(--border-radius)*2);
    color: #C9C081;
    padding: 1rem 5rem;
    ;
}
.savoirfaire p{
    margin:1rem  3rem;
}
