h2 {
	text-align: center;
    color: #1D334A;
}

form {
	padding: 1.25rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
    width: 100%;
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
}

.question-classique {
    width: 40%;
}

.form-image {
    width: auto;
    border-radius: 10px;

}


label {
	display: inline-block;

	text-align: right;
	margin-right: 0.625rem;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0.313rem;
}

fieldset {
	margin: 0.625rem 0;
	padding: 0.625rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
}

legend {
	font-weight: bold;
}

.choix {
    display: flex;
    justify-content: space-around;
}

.choix label {
    text-align: center;
}

.choix-section {
    max-width: 100%;
    flex-wrap: wrap;
}

textarea {
    resize:none;
}

input[type="checkbox"] {
	margin-right: 0.625rem;
}

input[type="checkbox"]:checked {
    background-color: #1D334A;
    border: none;
  }

.livraison {
    display: block;
    margin: auto;
}
button{
    background-color: #baba9c;
    border: none;
	color: white;
	padding: 0.625rem 1.25rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
display: block;
margin: auto;
width: 15rem;

}
button[type="submit"]:hover {
	background-color: #1D334A;
}

.livraison {
    margin-bottom: 1rem;
}



/*@media only screen and (max-width: 1250px) {
    .choice {
        flex-wrap: wrap;
    }
}*/
@media only screen and (max-width: 768px) {
    .form-grid {
        display: block;
    }
    .form-image {
        display: none;
    }
}