.testimony-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.testimony-title h2 {
    background-color: var(--card-dark-color);
    width: fit-content;
    margin:2rem auto;
    border-radius: calc(var(--border-radius)*2);
    color: var(--card-dark-title-color);
    padding: 1rem 5rem;
}

.testimony-grid {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    justify-content: space-between;
}
.testimonies {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 4rem;
}

@media screen and (max-width: 600px) {
    .testimony-grid {
        display: grid;
        grid-template-columns: 0.5fr;
        justify-content: center;
        align-content: center;
    }
}

