{% extends 'Admin/layout.html.twig' %}

{% block content %}

	<h1>Edit recipe
		{{ recipe.name }}</h1>

	{% include 'Admin/Recipe/_form.html.twig' %}

	<form action="add-file" enctype="multipart/form-data" method="post">
		<input type="hidden" name="recipe_id" value="{{ recipe.id }}">
		<label for="files">Télécharger des fichiers
			<input type="file" name="files[]" id="files" multiple accept="image/jpeg, image/jpg, image/png, image/webp">
		</label>
		<input type="submit" value="Télécharger">
	</form>

	<a href="index">Back</a>

{% endblock %}
