	<footer class="footer">
		<div>
			Nos mentions légales  |
		</div>
		<div>
			Du lundi au jeudi : 8H à 17H30
			<br>
			Le vendredi: 8H à 16H30
		</div>
		<div>
			|   05 45 85 01 54
		</div>
		<div class="label">
			<img src="/assets/images/Label_Rouge_Logo.png" alt="label_rouge">
			<img src="/assets/images/labeljaune.png" alt="indication_geographique_protegée">
			<img src="/assets/images/marennes-oleron.png" alt="groupement_qualite_marennes_oléron">
		</div>
		<div class="logo_facebook">
			<a href="https://www.facebook.com/huitres.tafforet.9/?locale=fr_FR"><img src="/assets/images/Facebook-f_Logo-Blue-Logo.wine.svg" alt="logo_facebook"></a>
		</div>
	</footer>
