<nav>
        <div class="logo">
          <img src="/assets/images/logo.png" alt="Logo">
        </div>
        <ul class="menu">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Notre savoir-faire</a></li>
          <li><a href="#">Nos produits</a></li>
          <details role="list" class="rubrique">
            <summary aria-haspopup="listbox" role="button">
              Guide de l'huître
            </summary>
            <ul class="menu" role="listbox">
              <li><a>Nos conseils</a></li>
              <li><a>Nos recettes</a></li>
            </ul>
          </details>
        </ul>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
