<nav>
    <div class="logo"><a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
    </div>
    <ul class="menu">
        <li><a href="/">Accueil</a></li>
        <li><a href="/skills">Notre savoir-faire</a></li>
        <li><a href="/product">Nos produits</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle">Guide de l'huître</a>
            <ul class="dropdown-menu">
                <li><a href="/advice">Nos conseils</a></li>
                <li><a href="/recipe">Nos recettes</a></li>
            </ul>
        </li>
    </ul>
    <button class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </button>
</nav>
