{# Ne pas mettre en forme #}
<div id="ww_74bb7a75e5c2a" v='1.3' loc='id'
a='{"t":"responsive","lang":"fr","sl_lpl":1,"ids":["wl7549"],"font":"Arial","sl_ics":"one","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF",
"cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"3"}'>Weather Data Source:
<a href="https://meteolongue.com/" id="ww_74bb7a75e5c2a_u" target="_blank">Meteo a 25 jours</a>
</div>
<script async src="https://app1.weatherwidget.org/js/?id=ww_74bb7a75e5c2a"></script>
