{% extends 'layout.html.twig' %}

{% block title %}Notre savoir-faire {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>{% endblock %}

{% block content %}
	<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" centered-slides="true" autoplay-delay="3000" autoplay-disable-on-interaction="false">
		<swiper-slide><img src="/assets/images/huitres-marennes.jpg" alt="huitre_marennes"></swiper-slide>
		<swiper-slide><img src="/assets/images/chenal-d-arceau-ostreiculture.jpg" alt="chenal_darceau"></swiper-slide>
		<swiper-slide><img src="/assets/images/huitres-sortie-bassins.jpg" alt="bassin_huitre"></swiper-slide>
		<swiper-slide><img src="/assets/images/CalibrageHuitres.jpg" alt="entrepot_huitre"></swiper-slide>
		<swiper-slide><img src="/assets/images/notre-savoir-faire.jpg" alt="bassin"></swiper-slide>
	</swiper-container>
{% endblock %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% block title %}Notre savoir-faire
{% endblock %}

{% block content %}
<div class="labels-title">
<img src="/assets/images/bg-labels.jpg" alt="">
<h2>Nos engagements</h2>
</div>
<section class="labels-skills">
<img src="assets/images/Label_Rouge.png"/>
<p>De plus, nous avons obtenu le Label Rouge qui témoigne du verdissement naturel des branchies de l’huître d’où l’appellation
« Huîtres Label Rouge Fines de Claires ».A noter, on peut obtenir des huîtres fines de claires
 et spéciales vertes qui n’ont pas la marque.</p>
<img src="assets/images/labeljaune.png"/>
<p>Depuis le 3 février 2009, après 20 ans d’efforts, la marque Marennes-Oléron est reconnue par l’Union Européenne par le logo
  :IGP (Indication Géographique Protégé)</p>
<img src="assets/images/marennes-oleron.png"/>
 <p>Soucieux d’offrir aux consommateurs nos meilleurs produits, nous avons adhéré au Groupement Qualité auprès de la Section Régionale
  de la Conchyliculture et nous nous sommes engagés à respecter leur cahier des charges,
  c’est-à-dire à répondre aux spécificités de l’ « Huître Marennes-Oléron ».</p>
</section>
{% endblock %}
